<% flashed_errors(:user) %>
<p>
  <b>Login</b><br />
  <%= text_field 'user', 'login', :style =>'width:330px;' %>
</p>

<p>
  <b>Email</b><br />
  <%= text_field 'user', 'email', :style =>'width:330px;' %>
</p>

<% if can_change_password? -%>
<p>
  <b>Password</b><br />
  <%= password_field 'user', 'password', :style =>'width:330px;' %>
</p>

<p>
  <b>Password confirmation</b><br />
  <%= password_field 'user', 'password_confirmation', :style =>'width:330px;' %>
</p>
<% end -%>

<p>
  <b>Timezone</b><br />
  <%= time_zone_select 'user', :time_zone, ActiveSupport::TimeZone.all, {},{:style => "width:330px;"} %>
</p>

<% if logged_in? && current_user.admin? -%>
  <p>
    <b>Admin?</b><br />
    <%= check_box 'user', 'admin', :class => 'noframe' %>
  </p>
<% end -%>

<% if current_user.admin?  && !@user.admin? %>
  <p>
    <b>Stages for User</b><br/>
    <% Stage.all(:include => :project).sort_by{ |s| [s.project.name, s.name] }.each do |stage|%>
      <%= check_box_tag('user[stage_ids][]', stage.id, @user.stages.include?(stage)) %> <%= "#{stage.project.name} (#{stage.name})" %><br/>
    <% end %>
  </p>
<% end %>
